<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810267291243-t8a46su4kd2bu2ka2i495a2a528rl8d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810267291243-t8a46su4kd2bu2ka2i495a2a528rl8d7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>810267291243-cfk7iig05ga5vpuuehicde9qib9avesb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk8Lm1-AADU5sbJ8KbsLjj5f_qdRWXR3U</string>
	<key>GCM_SENDER_ID</key>
	<string>810267291243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diarista.agiliza.agilizadiarista</string>
	<key>PROJECT_ID</key>
	<string>agilizadiarista</string>
	<key>STORAGE_BUCKET</key>
	<string>agilizadiarista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810267291243:ios:aa4a9029ec5cd0e51c8b2e</string>
</dict>
</plist>